.block2 {
    width: 801px;
    background: #008000;
    padding-top: 20px;
    font-size: 25px;
   }
.block3 {
    width: 801px;
    background: #e6e6e6;
    padding-top: 20px;
    font-size: 25px;
}
.block4 {
    width: 801px;
    background: #ffff66;
    padding-top: 20px;
    font-size: 25px;
   }
.block5 {
    width: 801px;
    background: #ff3333;
    padding-top: 20px;
    font-size: 25px;
   }
form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #cc6600;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

