form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #cc6600;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.form-control {margin-bottom: 10px; display: block;}
.check {margin-bottom: 10px; display: block;}
.h1_image_mars {color:red;}
.h {text-align: center;}


